div#login
    a#sign(href='#') Sign Up
    div#sign-content.hide
        form#sign-form()
            p#sign-message
            p E-mail
            input#mail(type="text", name="user[mail]") 
            p 
                input(type="submit", value="Sign-Up")
