extends index
    
block content
    form#add-user-form(action='/user/save', method='post')
        p#add-user-message
        p Name
        input#name(type="text", name="user[name]") 
        p Password
        input#pass(type="password", name="user[pass]") 
        input#code(type="hidden", name="user[code]", value="#{code}")
        //for admin + email, role
        p 
            input(type="submit", value="Finish registration")
